body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;

}
h1{
    font-size: 40px;
}
.orange-color{
    color: orange;
}
section{
    display: flex;
}
.width{
    width: 50%;
    margin: 5%;
}
.width img{
 width: 70%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(#ff6347, hsl(39, 100%, 50%));
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    font-weight: 400px;
}
.top-banner{
    background-image: url(image/top-banner.png);
    background-repeat: no-repeat;
}