body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;

}
h1{
    font-size: 40px;
}
.orange-color{
    color: orange;
}
.flexible-container{
    display: flex;
}
.width{
    width: 50%;
    margin: 4%;
}
.width img{
 width: 70%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(#ff6347, hsl(39, 100%, 50%));
    padding: 5px 30px;
    border-radius: 5px;
    color: white;
    font-weight: 400px;
}
.top-banner{
    background-image: url(image/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    
}
.flexible-container{
    display: flex;
}
.experience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 5%;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
    
}
.experience-area{
    background-image: url(image/exp-bg.png);
    background-repeat: no-repeat;
   
    
}
#web-developer{
    border-left: 10px solid;
   border-image: linear-gradient(blue, cyan);
   border-image-slice: 1;
}
#baby-developer{
    border-left: 10px solid;
    border-image: linear-gradient(salmon, tomato);
    border-image-slice: 1;

}
footer p {
    text-align: center;
    margin-top: 110px;
}